.container {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 32px 0 64px;

  &.compact .image {
    margin-bottom: -20px;
    padding-bottom: 32px;
  }
  &.customer {
    padding: 12px 0 24px;
  }
}

.image {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  order: 2;
  svg {
    margin-top: -20px;
    margin-bottom: -20px;
    font-size: 240px;
  }
  &.customerImg svg{
      margin-bottom: 0;
      margin-top: 0;
  }
  &.rowImage {
    svg {
      margin-right: 24px;
      font-size: 280px;
    }
  }
}

.title {
  font-weight: 600;
  font-size: 20px;
}

.desc {
  font-weight: 500;
}
