.btns {
  margin-left: 8px;
  span {
    color: var(--color-text-secondary);
  }
  :global .shopkone-btn-sm {
    &:hover {
      background-color: #f0f0f0 !important;
    }
    &:active {
      background-color: #e1e3e5 !important;
    }
  }
}


.moreTips {
  cursor: default;
  &:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
  }
}
