.header {
  border-bottom: 1px solid var(--color-border);
  padding: 8px 12px;
}

.title {
  font-weight: 550;
}

.item {
  background-color: #f7f7f7;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  box-shadow: 0 0 3px 0 #dbdbdb80;
  margin-bottom: 20px;
}

.itemDragging {
  z-index: 2;
  opacity: 0 !important;
}

.label {
  margin-bottom: 3px;
  margin-left: 4px;
}

.content {
  padding: 8px 12px 12px;
}

.actionBtn {
  transition: all 0.2s;
  padding: 0 !important;
  width: 32px !important;
  min-width: 32px !important;
  height: 32px !important;
  border-radius: 5px !important;
  overflow: hidden;
  svg {
    color: var(--color-text-secondary);
  }
}

.titleBtn {
  transition: all 0.2s;
  padding: 0 !important;
  width: 24px !important;
  min-width: 24px !important;
  height: 24px !important;
  border-radius: 5px !important;
  overflow: hidden;
  svg {
    color: var(--color-text-secondary);
  }
}
.deleteBtn {
  color: var(--color-text-secondary);
  padding: 0 !important;
  width: 21px !important;
  height: 21px !important;
  border-radius: 4px !important;
  &:hover {
    background-color: #dbdbdb !important;
  }
}

.hidden {
  width: 0 !important;
  min-width: 0 !important;
  pointer-events: none;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.errInput {
  border-color: var(--color--error) !important;
  outline-color: var(--color--error) !important;
}

.errNo {
  transition: all 0.3s;
  height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.err {
  transition: all 0.2s;
  font-size: 12px;
  color: var(--color--error);
  margin-left: 32px;
  margin-bottom: 4px;
  margin-top: 2px;
  height: 16px;
}

.draggingItem {
  z-index: 2;
  opacity: 0 !important;
}

.di {
  cursor: grabbing;
  background-color: #fff;
  padding: 4px;
  width: 320px;
  border-radius: 8px;
  border: 1px solid var(--color-border);
}
