.item {
  padding: 12px 0;
  background: #f8f8f8;
  border-radius: 8px;
  margin-top: 24px;
  box-shadow: 0 0 12px 0 #f8f8f8;
  border: 1px solid #ccc;
  &:first-child {
    margin-top: 0;
  }
  :global .shopkone-input-outlined {
    background-color: #fdfdfd !important;
  }
  :global .shopkone-form-item-label {
    position: relative;
    left: 27px;
  }
  .header {
    margin-top: -6px;
    margin-bottom: 12px;
    padding: 0 2px 6px;
    border-bottom: 1px solid var(--color-border);
    font-weight: 550;
    .dragBtn {
      margin-left: 4px;
      width: 24px;
      height: 24px;
    }
    .dragIcon {
      position: relative;
      left: -4px;
    }
    .title {
      font-weight: bolder;
      line-height: 1;
      position: relative;
      top: -2px;
    }
  }
  .optionName {
    margin-bottom: 12px;
    margin-left: 8px;
    margin-right: 8px;
  }
  .optionNameInput {
    margin-left: 27px;
    width: calc(100% - 54px);
  }
  .optionValues {
    margin: 0 8px;
    margin-bottom: 0;
  }
}

.footer {
  border-radius: 8px;
  margin-top: 8px;
  margin-left: 22px;
  padding: 0 8px;
}

.error {
  font-size: 12px;
  color: var(--color--error);
  margin-left: 32px;
}
