.bigImg {
  width: 48px !important;
  height: 48px !important;
}

.smallImg {
  width: 42px !important;
  height: 42px !important;
}

.icon {
  position: relative;
  top: 1px;
  transition: all 0.2s;
}

.downIcon {
  position: relative;
  top: 1px;
  transition: all 0.1s;
  opacity: 0;
}

.link {
  cursor: pointer;
  user-select: none;
  &:hover {
    text-decoration: underline;
    .downIcon {
      opacity: 1;
    }
  }
}

.name {
  width: 100%;
  flex: 1;
  user-select: none;
    &:hover {
      .nameText {
        text-decoration: underline;
      }
  }
}

.imageList {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid var(--color-border);
  overflow: hidden;
  &:hover {
    border-color: #bbb;
  }
}

.imageItem {
  border: 1px solid #aaa;
  box-shadow: 0 0 1px #aaa;
  width: 48px;
  height: 48px;
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &:first-child {
    border: none;
    box-shadow: none;
  }
}
