.bigImg {
  width: 48px !important;
  height: 48px !important;
}

.smallImg {
  width: 42px !important;
  height: 42px !important;
}

.icon {
  position: relative;
  top: 1px;
  transition: all 0.2s;
}

.link {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
