.item {
  border-radius: 8px;
  background: #f2f3f5;
  margin: 0 12px 20px;
  border: 1px solid #dededf60;
  position: relative;
}

.label {
  padding: 12px 12px 12px 0;
}

.dragBtn {
  margin-left: 12px;
  width: 32px;
  position: absolute;
  z-index: 1;
  left: 6px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  * {
    cursor: grab;
  }
}

.actions {
  padding-bottom: 12px;
  margin-left: 42px;
  margin-right: 12px;
  margin-top: 12px;
}

.dragging {
  position: relative;
  z-index: 999;
  * {
    cursor: grabbing;
  }
  .dragBtn {
    opacity: 0;
  }
  .item {
    position: relative;
    &:before {
      z-index: 2;
      position: absolute;
      background: firebrick;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}

.valueDragBtn {
  margin-left:-4px;
  margin-right: 4px;
  * {
    cursor: grab;
  }
}

.dragging .valueDragBtn *:not([disabled]) {
  cursor: grabbing;
}

.value {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  margin-left: 20px;
}

.err {
  font-size: 12px;
  margin-left: 42px;
  margin-top: 2px;
  color: var(--color--error);
}

.dragItem {
  position: relative;
}

.tag {
  border-radius: 2px;
  padding: 2px 12px;
  background: var(--color-disabled-bg);
  border: 1px solid var(--color-border);
}

.finishedStatus {
  position: relative;
  border-radius: 8px;
  padding: 8px 12px;
  width: 100%;
  cursor: pointer;
  &:hover {
    background: #e1e3e5a0;
    .tag {
      background: #fff;
    }
  }
}
