.item {
  border-radius: 8px;
  margin: 0 12px;
  background: #f2f3f5;
}

.label {
  padding: 12px 12px 12px 0;
}

.dragBtn {
  margin-left: 12px;
  width: 28px;
  position: relative;
  top: 28px;
}

.valueDragBtn {
  margin-left: 8px;
  width: 28px;
}

.values {
  margin-left: 8px;
  margin-right: 12px;
  label {
    margin-left: 33px !important;
  }
}

.value {
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 12px;
  }
}
