.empty {
  padding: 40px 32px;
  .inner {
    height: 180px;
    max-width: 800px;
    margin: 0 auto;
  }
  .title {
    font-weight: 550;
    font-size: 20px;
  }
  .desc {
    max-width: 400px;
    font-size: 12px;
  }
}

.borderless :global {
  .art-table-header {
    border: none !important;
  }
  .art-table-row.last .art-table-cell{
    border: none !important;
  }
}

.table :global {
  .shopkone-pagination {
    margin-top: 8px;
  }
}

.rowClick :global {
  .art-table-row {
    cursor: pointer;
  }
}

.selected :global{
  .art-table-header-row .art-table-header-cell {
    background-color: #fff !important;
  }
}

.header {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  background-color: #fff;
  margin-left: 5%;
  font-size: 13px;
  font-weight: 550;
  padding-right: 12px;
}
