:global .art-virtual-blank {
  background-image: url("@/assets/icon/table-blank.svg");
  margin: 0 16px;
}



.empty {
  padding: 40px 32px;
  .inner {
    height: 180px;
    max-width: 800px;
    margin: 0 auto;
  }
  .title {
    font-weight: 550;
    font-size: 20px;
  }
  .desc {
    max-width: 400px;
    font-size: 13px;
  }
}

.borderless :global {
  .art-table-header {
    border: none !important;
  }
  .art-table-row.last .art-table-cell{
    border: none !important;
  }
}

.table :global {
  .shopkone-pagination {
    margin-top: 8px;
  }
}

.rowClick :global {
  .art-table-row {
    cursor: pointer;
  }
}

.selected :global{
  .art-table-header-row .art-table-header-cell {
    background-color: #f0f0f0 !important;
  }
  table {
    transform: translateZ(1px);
  }
}

.header {
  position: absolute;
  inset: 0;
  left: 8px;
  background-color: #f0f0f0;
  font-size: 13px;
  font-weight: 550;
}

.action {
  position: absolute;
  right: 16px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
