:global .art-virtual-blank {
  background-image: url("@/assets/icon/table-blank.svg");
  margin: 0 16px;
}

:global .art-loading-content-wrapper {
  filter: blur(0) !important;
}

.loadingWrap {
  pointer-events: none;
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: 1;
  background-color: #ffffffc0;
}

.empty {
  padding: 40px 32px;
  .inner {
    height: 180px;
    max-width: 800px;
    margin: 0 auto;
  }
  .title {
    font-weight: 600;
    font-size: 20px;
  }
  .desc {
    max-width: 400px;
    font-size: 13px;
    font-weight: 500;
  }
}

.borderless :global {
  .art-table-header {
    border: none !important;
  }
  .art-table-row.last .art-table-cell{
    border: none !important;
  }
}

.table :global {
  .shopkone-pagination {
    margin-top: 8px;
  }
}

.rowClick :global {
  .art-table-row {
    cursor: pointer;
  }
}

.selected :global{
  .art-table-header-row .art-table-header-cell {
    background-color: #fff !important;
  }
  table {
    transform: translateZ(1px);
  }
}

.header {
  position: absolute;
  inset: 0;
  left: 8px;
  background-color: #fff;
  font-size: 13px;
}

.headerInner {
  color: var(--color-text-primary);
  white-space: nowrap;
  overflow: visible;
  font-weight: 500;
}

.action {
}
