.img {
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-border);
  background-color: var(--color-bg-sixth);
  border-radius: 8px;
  position: relative;
}

.btn {
  width: 28px;
  height: 28px;
}

.icon {
  font-size: 15px;
  position: relative;
  left: -6px;
  top: -1px;
}

.title {
  color: var(--color-text-secondary);
}

.name {
  font-size: 12px;
  color: var(--color-text-primary);
}

.colTitle {
  margin-left: 52px;
}
