.btn {
  width: 28px;
  height: 28px;
}

.icon {
  font-size: 15px;
  position: relative;
  left: -6px;
  top: -1px;
}

.title {
  color: var(--color-text-secondary);
}

.name {
  color: var(--color-text-primary);
}

.colTitle {
  margin-left: 52px;
}

.right {
  top: 68px;
  flex: 1;
  :global {
    .art-table-row:hover{
      .file_row_action_icons {
        opacity: 1;
      }
    }
    .file_row_action_icons {
      transition: all 0.1s;
      opacity: 0;
    }
  }
  .actionsIcon {
    padding: 0 !important;
    height: 14px !important;
    &:hover {
      background-color: transparent !important;
      svg {
        color: var(--color-primary) !important;
      }
    }
  }
}

.side {
  position: sticky;
  top: 12px;
  width: 250px;
  height: calc(100vh - 140px);
  .sideTitle {
    padding: 8px 16px;
    font-weight: 600;
    border-bottom: 1px solid #efefef;
  }
  .sideContent {
    height: calc(100vh - 225px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 8px 8px 64px 8px;
  }
  .sideBottom {
    border-top: 1px solid var(--color-border);
    padding: 8px;
  }
  .sideItem {
    padding: 4px 8px;
    margin-bottom: 4px;
    cursor: pointer;
    border-radius: 8px;
    .more {
      opacity: 0;
    }
    &:hover {
      background-color: #e4e5e670;
      .more {
        opacity: 1;
      }
    }
  }
  .sideItemActive {
    background-color: #e4e5e670;
    font-weight: bolder;
    * {
      color: var(--color-primary);
    }
  }
}

.tag {
  max-width: 150px !important;
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 8px;
  border: 1px solid #d0d3d6;
  line-height: 1;
  font-weight: 550 !important;
}


.container {
  padding: 0 24px 24px;
  .info {
    flex: 1;
    padding: 16px;
    border: 1px solid var(--color-border);
    border-radius: 16px;
    box-shadow: 0 0 8px 0 var(--color-border);
  }
  .details {
    font-size: 12px;
    color: var(--color-text-secondary);
    margin-left: 1px;
  }
}

