.container {
  border: 1px solid var(--color-border);
  border-radius: 12px;
  overflow: hidden;
}

.item {
  padding: 12px;
  color: var(--color-text-secondary);
  font-weight: 500;
  border-bottom: 1px solid var(--color-border);
  &:last-child {
    border-bottom: none;
  }
  .title {
    color: var(--color-text-primary);
    max-width: 500px;
  }
}

.click-item {
  transition: all 0.1s;
  cursor: pointer;
  &:hover {
    background: var(--color-bg-secondary);
  }
  &:active {
    background: var(--color-bg-fifth);
  }
}

.mapPin {
  height: 36px;
  width: 36px;
  border-radius: 8px;
  border: 1px solid var(--color-border);
  background-color: #f7f7f7;
}
