.filter-icon {
  color: #646A73;
  position: relative;
  top: 1px;
}

.cover {
  height: 120px;
  border: 1px dashed #ccc;
  border-radius: 12px;
  background-color: #fefefe;
  cursor: pointer;
  transition: 0.1s all;
  &:hover {
    background-color: #fdfdfd;
    border-color: var(--color-primary);
  }
}

.plus-icon {
  position: relative;
  top: -1px;
  stroke-width: 2.3;
}

.add-btn {
  position: relative;
  top: -1px;
}

.dragIn {
  font-weight: 600;
  color: var(--color-primary);
  background-color: #3478f540;
  border-color: var(--color-primary);
  border-style: solid;
}

.error {
  font-weight: 600;
  color: var(--color--error);
  background-color: #f54a4540;
  border-color: var(--color--error);
  border-style: solid;
}
