.title {
  font-weight: 600;
  font-size: 14px;
}


.line {
  width: 1px;
  height: 32px;
  background: var(--color-border-sec);
}

.icon {
  color: var(--color-text-third);
}

.item {
  margin-bottom: 8px;
  margin-top: 20px;
}
