#shopkimi {
  .shopkimi-alert-warning {
    padding: 8px;
    background-color: #fff1e3;
    .shopkimi-alert-description {
      color: var(--color-warning);
    }
    * {
      color: var(--color-warning);
    }
  }

  .shopkimi-alert-success {
    background: #e6f4e9;
    color: #2e7d32;
    border: 1px solid #81c784;
    padding: 8px;
    border-radius: 12px;
  }
}
