#shopkone {
  .shopkone-btn {
    line-height: 1;
    padding: 6px 12px;
    height: 28px;
    font-size: 12px;
    border-radius: 8px;
    font-weight: 550;
  }

  .shopkone-btn-sm {
    padding: 3px 8px;
    height: 24px;
  }

  .shopkone-btn-primary:not(:disabled) {
    background-color: var(--color-primary);
    &:hover {
      background-color: var(--color-primary-hover);
    }
    &:active {
      background-color: var(--color-primary-active);
    }
  }

  .shopkone-btn-default:not(:disabled) {
    border-color: var(--color-disabled-border);
    &:hover {
      color: var(--color-text-primary);
      border-color: var(--color-disabled-border);
      background-color: var(--color-bg-secondary);
    }
    &:active {
      background-color: var(--color-disabled-bg);
    }
  }

  .shopkone-btn-text:hover {
    &:hover {
      background-color: var(--color-disabled-bg);
    }
    &:active {
      background-color: #cccccc;
    }
  }

  .shopkone-btn-dangerous:not(:disabled)  {
    color: var(--color--error);
    font-weight: 500;
    &:hover {
      color: var(--color--error);
    }
  }

  .shopkone-btn-dashed {
    border-color: var(--color-disabled-border);
    &:hover {
      border-style: solid;
      color: var(--color-text-);
    }
    &:active {
      background-color: var(--color-disabled-bg);
    }
  }

  .shopkone-btn-link:not(:disabled) {
    color: var(--color-primary);
    span {
      font-weight: 450;
    }
    &:hover{
      color: var(--color-primary);
      span {
        text-decoration: underline;
      }
    }
  }
}

