#shopkimi {
  .shopkimi-btn {
    line-height: 1 !important;
    padding: 6px 12px;
    height: 26px;
    font-size: 12px;
    border-radius: 8px;
    font-weight: 550;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 4px !important;
    * {
      line-height: 1 !important;
    }
    > span {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
}

  .shopkimi-btn-loading {
    position: relative;
    * {
      opacity: 0;
    }
    .shopkimi-btn-loading-icon {
      position: absolute;
      display: inline-block;
      margin-right: 0;
      opacity: 1;
    }
 }

  .shopkimi-btn-sm {
    padding: 3px 8px;
    height: 24px;
    border-radius: 6px;
  }

  .shopkimi-btn-lg {
    height: 40px;
    font-size: 13px;
  }

  .shopkimi-btn-primary:not(:disabled) {
    background-color: var(--color-primary);
    &:hover {
      background-color: var(--color-primary-hover);
    }
    &:active {
      background-color: var(--color-primary-active);
    }
  }

  .shopkimi-btn-primary.shopkimi-btn-dangerous:not(:disabled) {
    background-color: var(--color--error);
    color: #fff;
    &:hover {
      color: #fff;
      background-color: var(--color-error-hover);
    }
    &:active {
      color: #fff;
      background-color: var(--color-error-active);
    }
  }

  .shopkimi-btn-default:not(:disabled) {
    border-color: var(--color-disabled-border);
    &:hover {
      color: var(--color-text-primary);
      border-color: var(--color-disabled-border);
      background-color: var(--color-bg-secondary);
    }
    &:active {
      background-color: var(--color-disabled-bg);
    }
  }
  .shopkimi-btn-default:not(.shopkimi-btn-lg) {
    height: 28px;
  }

  .shopkimi-btn-default:not(:disabled) {
    &:hover {
      color: var(--color-text-primary);
      background-color: var(--color-disabled-bg);
    }
    &:active {
      background-color: var(--color-disabled-border);
    }
  }

  .shopkimi-btn-text:not(:disabled) {
    font-weight: 450;
    &:hover {
      background-color: var(--color-disabled-bg);
    }
    &:active {
      background-color: var(--color-disabled-border);
    }
  }

  .shopkimi-btn-dangerous:not(:disabled)  {
    color: var(--color--error);
    font-weight: 500;
    &:hover {
      color: var(--color--error);
    }
  }

  .shopkimi-btn-dashed {
    border-color: var(--color-disabled-border);
    &:hover {
      border-style: solid;
      color: var(--color-text-);
    }
    &:active {
      background-color: var(--color-disabled-bg);
    }
  }

  .shopkimi-btn-link:not(:disabled) {
    color: var(--color-primary);
    span {
      font-weight: 450;
    }
    &:hover{
      color: var(--color-primary);
      span {
        text-decoration: underline;
      }
    }
  }
  .shopkimi-btn-dangerous.shopkimi-btn-link {
    color: var(--color--error);
    span {
      font-weight: 450;
    }
    &:hover{
      color: var(--color--error);
      span {
        text-decoration: underline;
      }
    }
  }
}

