#shopkone {
  .shopkone-card {
    border-radius: 12px;
    box-shadow: 0 0.5px 0 0 #dedede;
  }
  .shopkone-card-bordered {
    border-color: #dedede;
  }
  .shopkone-card-body {
    padding: 16px;
  }
  .shopkone-card-head {
    min-height: auto;
    line-height: 1;
    padding: 16px 16px 0 16px;
    margin-bottom: -8px;
    border-bottom: none;
  }
  .shopkone-card-head-title {
    overflow: visible;
  }
  .shopkone-card-extra .shopkone-btn-text {
    font-weight: 500;
    height: 20px;
    padding: 0 6px !important;
  }
}
