#shopkone {
  .shopkone-picker-outlined {
    border-radius: 8px;
    border-color: #d0d3d6;
    box-shadow: none;
    &:hover {
      border-color: #3370ff;
    }
  }
  .shopkone-picker-focused {
    border-color: #3370ff;
    outline: 2px solid #3370ff;
    outline-offset: 1px;
  }
}