#shopkimi {
  .shopkimi-picker-outlined {
    &, * {
      cursor: pointer;
    }
    &:not(.shopkimi-input-disabled) {
      background-color: var(--color-bg);
      &:hover {
        border-color: var(--color-primary);
        background-color: var(--color-bg-fourth);
      }
    }
    border-radius: 8px;
    border-color: var(--color-disabled-border);
    box-shadow: none;
  }
  .shopkimi-picker-focused {
    border-color: var(--color-primary);
    outline: 2px solid var(--color-primary);
    outline-offset: 1px;
  }
  .shopkimi-picker-panel-container {
    border-radius: 12px;
    box-shadow: 0 0.5px 0 0 var(--color-shadow) !important;
    border: 1px solid var(--color-shadow);
  }
  .shopkimi-picker-body, .shopkimi-picker-date-panel {
    min-width: 350px;
  }
  .shopkimi-picker-cell-hover .shopkimi-picker-cell-inner{
    background-color: var(--color-primary);
    color: #fff;
  }
  .shopkimi-picker-now-btn {
    &:hover {
      color: var(--color-primary-hover);
      text-decoration: underline;
    }
  }
  .shopkimi-picker-time-panel-cell-inner {
    &:hover {
      background-color: var(--color-bg-fifth);
    }
  }
  .shopkimi-picker-time-panel-cell-selected .shopkimi-picker-time-panel-cell-inner {
    background-color: var(--color-bg-fifth);
  }
  .shopkimi-picker-cell-disabled .shopkimi-picker-cell-inner {
    background-color: #fff;
    color: var(--color-disabled-text);
  }
  .shopkimi-picker-cell-disabled:before {
    background-color: #fff;
  }
  .shopkimi-picker-cell-inner {
    min-width: 40px;
    min-height: 32px;
    line-height: 32px;
    border-radius: 8px;
    &:before {
      border-radius: 8px;
    }
  }
  .shopkimi-picker-cell:not(.shopkimi-picker-cell-in-view) {
    display: none;
  }
  .shopkimi-picker-panel .i-icon {
    position: relative;
    top: 4px;
  }
  .shopkimi-picker-input {
    font-weight: 450;
  }
}
