#shopkone {
  .shopkone-drawer-content-wrapper {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    overflow: hidden;
  }
  .shopkone-drawer-header {
    padding: 12px 16px;
    background-color: #f2f3f5;
  }
  .shopkone-drawer-extra .shopkone-btn{
    height: 28px;
    width: 28px;
    svg {
      position: relative;
      left: -4px;
    }
  }
  .shopkone-drawer-body {
    padding: 16px;
  }
  .shopkone-drawer-footer {
    box-shadow: 0 0 12px 0 #ccc;
  }
}
