#shopkone {
  .shopkone-form-item-label {
    margin-left: 1px;
    padding-bottom: 4px;
    font-weight: 500;
  }
  .shopkone-form-item {
    margin-bottom: 16px;
  }
  .shopkone-form-item-row, .shopkone-form-item-control-input {
    height: 100%;
  }
  .shopkone-form-item-control-input-content {
    height: 100%;
  }
  .shopkone-form-item-extra {
    color: var(--color-text-secondary);
    line-height: 16px;
    margin-top: 4px;
    min-height: 13px;
  }
  .shopkone-form-item-explain-error {
    font-size: 12px;
    position: relative;
    top: 2px;
  }
}
