#shopkimi {
  .shopkimi-form-item-label {
    margin-left: 1px;
    padding-bottom: 4px;
    font-weight: 500;
  }
  .shopkimi-form-item {
    margin-bottom: 16px;
  }
  .shopkimi-form-item-extra {
    color: var(--color-text-secondary);
    line-height: 16px;
    margin-top: 4px;
    min-height: 13px;
    font-size: 12px;
  }
  .shopkimi-form-item-explain-error {
    font-size: 12px;
    position: relative;
    top: 2px;
    color: var(--color--error);
  }
  .shopkimi-form-item-required:before {
    display: none;
  }
  .shopkimi-form-item-required:after {
    visibility: visible;
    display: block;
    margin-inline-end: 4px;
    color: #ff4d4f;
    font-size: 13px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
  }
}
