#shopkimi {
  .shopkimi-input-number-outlined {
    border-radius: 8px;
    border-color: var(--color-disabled-border);
    box-shadow: none;
    &:not(.shopkimi-input-disabled) {
      background-color: var(--color-bg-third);
      &:hover {
        border-color: var(--color-primary);
        background-color: var(--color-bg-fourth);
      }
    }

    &:has(.shopkimi-input-number-focused) {
      border-color: var(--color-primary);
      outline: 2px solid var(--color-primary);
      outline-offset: 1px;
      transition: none;
    }
  }

  .shopkimi-input-number-outlined.shopkimi-input-number-focused {
    transition: none;
    border-color: var(--color-primary);
    outline: 2px solid var(--color-primary);
    outline-offset: 1px;
  }

  .shopkimi-input-number-outlined.shopkimi-input-number-affix-wrapper input {
    position: relative;
    //top: 1px;
  }
  .shopkimi-input-prefix {
    color: var(--color-text-secondary);
  }
}
