#shopkone {
  .shopkone-input-number-outlined {
    border-radius: 8px;
    border-color: var(--color-disabled-border);
    box-shadow: none;
    &:not(.shopkone-input-disabled) {
      background-color: var(--color-bg-third);
      &:hover {
        border-color: var(--color-primary);
        background-color: var(--color-bg-fourth);
      }
    }

    &:has(.shopkone-input-number-focused) {
      border-color: var(--color-primary);
      outline: 2px solid var(--color-primary);
      outline-offset: 1px;
      transition: none;
    }
  }

  .shopkone-input-number-outlined.shopkone-input-number-focused {
    transition: none;
    border-color: var(--color-primary);
    outline: 2px solid var(--color-primary);
    outline-offset: 1px;
  }

  .shopkone-input-number-outlined.shopkone-input-number-affix-wrapper input {
    position: relative;
    //top: 1px;
  }
}
