#shopkimi {
  .shopkimi-menu {
    border-right: none;
    background-color: #f2f3f5;
  }
  .shopkimi-menu-item {
    height: 28px;
    background-color: #f2f3f5;
    &:hover {
      background-color: #dfe0e2;
    }
  }
  .shopkimi-menu-submenu-title {
    color: var(--color-text-primary);
    height: 28px;
    &:active {
      background-color: #dfe0e2;
    }
  }
  .shopkimi-menu-item-selected {
    color: var(--color-primary);
    font-weight: bold;
    &:hover {
      background-color: #dfe0e2c0;
    }
  }
  .shopkimi-menu-sub {
    margin-top: -4px;
    .shopkimi-menu-item {
      margin-left: 7px;
    }
  }
  .shopkimi-menu-title-content {
    height: 32px;
  }
}
