#shopkone {
  .shopkone-modal-confirm-body-wrapper {
    .shopkone-modal-confirm-title {
      padding: 16px 16px 16px 0;
      background-color: #f2f3f5;
      border-bottom: 1px solid var(--color-border);
    }
    .shopkone-modal-confirm-icon {
      height: 54px;
      width: 42px;
      padding-right: 8px;
      position: relative;
      top: 1px;
      padding-left: 16px;
      background-color: #f2f3f5;
      border-bottom: 1px solid var(--color-border);
    }
    .shopkone-modal-confirm-content {
      padding-top: 8px;
      padding-right: 16px;
      padding-bottom: 16px;
      margin-left: -26px;
    }
  }

  .shopkone-modal {
    border-radius: 16px;
    overflow: hidden;
    .shopkone-modal-content {
      border-radius: 16px;
      padding: 0;
      box-shadow: none;
    }
    .shopkone-modal-header {
      padding: 16px;
      margin-bottom: 0;
    }
    .shopkone-modal-title {
      line-height: 20px;
      height: 20px;
    }
    .shopkone-modal-footer, .shopkone-modal-confirm-btns {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 0;
      padding: 16px;
      border-top: 1px solid var(--color-border);
      & > div {
        flex: 1;
      }
    }
    .shopkone-modal-close {
      width: 28px;
      height: 28px;
    }
    .shopkone-modal-footer {
      border-top: 1px solid var(--color-border);
    }
    .shopkone-modal-header {
      border-bottom: 1px solid var(--color-border);
      background-color: var(--color-bg-primary);
    }
  }
}

