#shopkone {
  .shopkone-modal {
    border-radius: 16px;
    overflow: hidden;
    .shopkone-modal-content {
      padding: 0;
    }
    .shopkone-modal-header {
      padding: 16px;
      margin-bottom: 0;
    }
    .shopkone-modal-title {
      line-height: 20px;
      height: 20px;
    }
    .shopkone-modal-footer {
      margin: 0;
      padding: 16px;
    }
    .shopkone-modal-close {
      width: 28px;
      height: 28px;
    }
  }
}

