#shopkone .shopkone-pagination{
  .shopkone-pagination-item {
    padding: 0;
    min-width: 26px;
    max-height: 26px;
    min-height: 26px;
    margin-right: 4px;
    a {
      padding: 0;
      position: relative;
      top: -3px;
    }
    &:hover {
      background-color: #dfe0e2;
    }
  }
  .shopkone-select {
    height: 26px;
  }
  .shopkone-select-selector {
    height: 26px;
  }
  .shopkone-pagination-prev {
    height: 26px;
    min-width: 26px;
    margin-right: 4px;
    .i-icon {
      position: relative;
      left: -1px;
      top: -1px;
    }
    &:hover {
      background-color: #dfe0e2;
    }
  }
  .shopkone-pagination-next {
    height: 26px;
    min-width: 26px;
    margin-left: 4px;
    &:hover {
      background-color: #dfe0e2;
    }
  }
  .shopkone-pagination-disabled {
    color: #aaa;
    &:hover {
      color: #aaa;
      background-color: transparent;
    }
  }
  .shopkone-pagination-options .shopkone-select-selector{
    cursor: pointer;
    input {
      caret-color: transparent;
      pointer-events: none;
    }
  }
  .shopkone-select-arrow {
    display: none;
  }
  .anticon-down {
    display: none;
  }

  .shopkone-pagination-jump-next {
    height: 27px;
  }
  .shopkone-pagination-jump-prev {
    height: 27px;
  }
  .shopkone-select-selection-item {
    padding-right: 0;
  }
  .shopkone-btn {
    border-radius: 6px !important;
    position: relative;
    top: -1px;
    width: 27px;
    height: 26px;
  }
}
