#shopkone {
  .shopkone-select-outlined .shopkone-select-selector {
    border-radius: 8px;
    border-color: var(--color-disabled-border);
    box-shadow: none;
    &:not(.shopkone-input-disabled) {
      background-color: var(--color-bg-third);
      &:hover {
        border-color: var(--color-primary);
        background-color: var(--color-bg-fourth);
      }
    }
  }
  .shopkone-select-focused.shopkone-select-outlined .shopkone-select-selector {
    border-color: var(--color-primary);
    outline: 2px solid var(--color-primary);
    outline-offset: 1px;
    transition: none;
  }
  .shopkone-select-item {
    min-height: 28px;
    border-radius: 8px;
    &:hover {
      background-color: var(--color-bg-sixth);
    }
  }
  .shopkone-select-item-option {
    padding: 4px 8px;
    margin-bottom: 2px;
  }
  .shopkone-select-item-option-selected .shopkone-select-item-option-content {
    color: var(--color-primary);
    font-weight: 500;
  }
  .shopkone-select-item-option-selected  {
    background-color: #fff;
  }
  .shopkone-select-dropdown {
    border-radius: 12px;
    box-shadow: 0 0.5px 0 0 var(--color-shadow);
    border: 1px solid var(--color-shadow);
  }
  .shopkone-select-selection-item {
    font-weight: 450;
  }
  .shopkone-select-multiple .shopkone-select-selection-item {
    border: 1px solid #ddd;
    border-radius: 8px;
  }
}
