#shopkimi {
  .shopkimi-select-outlined .shopkimi-select-selector {
    border-radius: 8px;
    border-color: var(--color-disabled-border);
    box-shadow: none;
    &:not(.shopkimi-input-disabled) {
      background-color: var(--color-bg-third);
      &:hover {
        border-color: var(--color-primary);
        background-color: var(--color-bg-fourth);
      }
    }
  }
  .shopkimi-select-focused.shopkimi-select-outlined .shopkimi-select-selector {
    border-color: var(--color-primary);
    outline: 2px solid var(--color-primary);
    outline-offset: 1px;
    transition: none;
  }
  .shopkimi-select-item {
    min-height: 28px;
    border-radius: 8px;
    &:hover {
      background-color: var(--color-bg-sixth);
    }
  }
  .shopkimi-select-item-option {
    padding: 4px 8px;
    //margin-bottom: 2px;
  }
  .shopkimi-select-item-option-selected .shopkimi-select-item-option-content {
    color: var(--color-primary);
    font-weight: 500;
  }
  .shopkimi-select-item-option-selected  {
    background-color: var(--color-bg-primary);
  }
  .shopkimi-select-dropdown:not(.shopkimi-tree-select-dropdown) {
    border-radius: 12px;
    box-shadow: 0 0 2px 0 var(--color-shadow);
    border: 1px solid var(--color-shadow);
    * {
      transition: none !important;
    }
  }
  .shopkimi-select-selection-item {
    font-weight: 450;
  }
  .shopkimi-select-multiple .shopkimi-select-selection-item {
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  .shopkimi-select-disabled .shopkimi-select-selector {
    border-color: var(--color-shadow) !important;
    color: var(--color-shadow) !important;
    &:hover {
      color: var(--color-shadow) !important;
      border-color: var(--color-shadow) !important;
    }
  }
}
