#shopkimi {
  .shopkimi-tooltip {
    background-color: #f8f8f8;
  }
  .shopkimi-tooltip-content {
    border-radius: 8px;
  }
  .shopkimi-tooltip-inner {
    border-radius: 8px;
    font-size: 12px;
    min-height: 28px;
    color: var(--color-text-primary);
    background-color: #f8f8f8 !important;
  }
  .shopkimi-tooltip-content, .shopkimi-tooltip-inner, .shopkimi-tooltip-arrow:after,
  .shopkimi-tooltip-content, .shopkimi-tooltip-inner, .shopkimi-tooltip-arrow:before {
    background-color: #f8f8f8;
    box-shadow: 0 0 0 1px #ccc;
  }
  .ant-message-notice-content {
    .ant-message-custom-content {
      position: relative;
      top: -2px;
    }
  }
}
