.filter-icon {
  color: #646A73;
  margin-right: 4px;
}

.btns {
  margin-left: 8px;
  span {
    color: var(--color-text-secondary);
  }
  :global .shopkimi-btn-sm {
    &:hover {
      background-color: #f0f0f0 !important;
    }
    &:active {
      background-color: #e1e3e5 !important;
    }
  }
}

.actions {
  svg {
    color: #333;
    position: relative;
  }
}

.activeBtn {
  background-color: var(--color-disabled-bg);
}

.compact :global {
  .shopkimi-select-selector {
    border-right: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
  .shopkimi-input-affix-wrapper {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }
}