.filter-icon {
  color: #646A73;
  margin-right: 4px;
}

.actions svg {
    color: #333;
    position: relative;
}

.line {
  margin: 0 8px;
  height: 18px;
  width: 1px;
  border-left: 1px solid var(--color-border);
}

.compact :global {
  .shopkimi-select-selector {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
  .shopkimi-input-affix-wrapper {
    border-left: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }
}

.dot {
  width: 5px;
  height: 5px;
  background: var(--color-success);
  border-radius: 1px;
}

.unPublishDot {
  background: var(--color-text-third);
}