.container {
  cursor: pointer;
  height: 120px;
  border: 1px dashed #ccc;
  border-radius: 8px;
  transition: 0.1s all;
  background-color: #fefefe;
  &:hover {
    background-color: #fdfdfd;
    border-color: var(--color-primary);
  }
}
