.container {
  cursor: pointer;
  height: 120px;
  border: 1px dashed #ccc;
  border-radius: 8px;
  transition: 0.1s all;
  background-color: #fefefe;
  &:hover {
    background-color: #fdfdfd;
    border-color: var(--color-primary);
  }
}

.fileList {
}

.fileListItem {
  width: 100px;
  height: 100px;
  background-color: #000;
  float: left;
  margin-left: 16px;
  margin-top: 16px;
}

.fileListItemBig {
  margin-top: 16px;
  background-color: #000;
  width: 216px;
  height: 216px;
  float: left;
}
