.container {
  cursor: pointer;
  height: 120px;
  border: 1px dashed #ccc;
  border-radius: 8px;
  transition: 0.1s all;
  background-color: #fefefe;
  &:hover {
    background-color: #fdfdfd;
    border-color: var(--color-primary);
  }
}

.fileList {
}

.item {
  width: 115px;
  height: 115px;
  float: left;
  position: relative;
  user-select: none;
  .dragging {
    background-color: blue;
    z-index: 0;
    margin-right: 15px;
  }
}

.itemBig {
  width: 230px;
  height: 230px;
  &:after, &:before {
    content: '';
    clear: both;
  }
}

.item-real {
  background-color: #000;
  position: absolute;
  inset: 0;
  margin-bottom: 15px;
  margin-right: 15px;
  z-index: 1;
}

.item-bg {
  margin-bottom: 15px;
  margin-right: 15px;
  inset: 0;
  position: absolute;
  background-color: blue;
}
