.footer {
  padding: 16px 0;
  display: flex;
  justify-content: flex-end;
}

.title {
  box-sizing: content-box;
  padding: 20px 0;
  height: 28px;
  font-weight: 500;
}

.back-icon {
  padding: 0 !important;
  width: 28px;
  height: 28px;
}
