.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.main {
  flex: 1;
}

.content {
  box-sizing: border-box;
  width: 480px;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid var(--color-border);
  box-shadow: 0 1px 1px 0 var(--color-border);
  min-height: 600px;
  @media screen and (width <= 700px) {
    width: 100%;
    border: none;
    box-shadow: none;
  }
}

.trem {
  padding: 40px;
}

.form {
  height: 600px;
  padding: 40px;
  @media screen and (width <= 700px) {
    padding: 0 20px;
  }
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 480px;
  height: 100%;
  background-color: #eaebfb;

  @media screen and (width <= 1000px) {
    display: none;
  }
}

.banner-img {
  margin-top: -30%;
}

.banner-text {
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  padding: 0 24px;
}

.title {
  text-align: center;
  margin-bottom: 36px;
  margin-top: 12px;
  font-size: 24px;
  font-weight: bolder;
}

.desc {
  font-size: 14px;
  color: var(--color-text-secondary);
  margin-bottom: 24px;
}

.tips {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 16px;
  margin-top: 2px;
}

.progress {
  margin-top: 4px;
  margin-bottom: 4px;
}

.btn {
  margin-top: 16px;
}

.help-link {
  margin-top: 24px;
}

.link-btn {
  position: relative;
  top: 1px;
  &:hover {
    .link-icon {
      right: -2px;
    }
  }
}

.link-icon {
  position: relative;
  top: 1px;
}

.secondary {
  color: var(--color-text-secondary);
}

.agreement {
  padding: 18px 0 24px 0;
}

.linkAgreement {
  padding: 0 !important;
  font-size: 13px;
}
