.container {
  border: 1px solid var(--color-border);
  border-radius: 12px;
}

.item {
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 12px;
  &:hover {
    background: var(--color-bg-secondary);
  }
}

.icon {
  height: 28px;
  width: 42px;
  border-radius: 4px;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.name {
  font-size: 14px;
  font-weight: bolder;
}
