.modal {
  .header {
    padding: 12px 20px;
  }
  .filter-icon {
    color: #646A73;
    position: relative;
    top: 1px;
  }
  .search-input {
    width: 485px;
  }
  .upload {
    margin: 6px 20px;
  }
  .mb12 {
    margin-bottom: 12px;
  }
  .content {
    margin: 12px 20px;
  }
  .item-wrap {
    width: 140px;
    height: 185px;
    background-color: #f1f2f4b0;
    border-radius: 12px;
    &:hover {
      background-color: #f1f2f470;
    }
  }
  .bottom {
    overflow-y: auto;
  }
  .shadow {
    z-index: 2;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  }
}

.container {
  cursor: pointer;
  height: 120px;
  border: 1px dashed #d0d3d6;
  border-radius: 8px;
  &:hover {
    border-color: #3370ff;
  }
}
