
.filter-icon {
  color: #646A73;
  margin-right: 4px;
}

.down {
  min-width: 50%;
}

.down:hover {
  .downIcon {
    stroke-width: 4;
    font-weight: bolder;
  }
}

.downIcon {
  transition: all 0.1s;
}

.checkbox {
  padding-right: 16px;
  height: 32px;
  cursor: default;
  padding-left: 4px;
}
