.item {
  padding: 8px 12px;
  margin-top: 16px;
  border: 1px solid var(--color-border);
  background-color: #fafafa;
  border-radius: 4px;
}

.dragging {
  position: relative;
  overflow: hidden;
  border: 1px dashed var(--color-primary);
  &:before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #b0c9f8;
    z-index: 2;
  }
}

.bg {
  border-color: #bbb;
  box-shadow: 0 0 4px #bbb;
  cursor: grabbing;
  *{
    cursor: grabbing !important;
  }
}

.btn {
  cursor: grab;
}

.container {
  overflow: hidden;
  transition: height 0.3s;
}
