.card {
  border: 1px solid var(--color-border);
  border-radius: 8px;
  overflow: hidden;
}

.item {
  background-color: #fff;
  border-bottom: 1px solid var(--color-border);
}

.inner {
  padding: 8px;
  &:hover {
    background-color: var(--color-bg-secondary);
  }
}

.last {
  border-bottom: none;
}

.dragging {
  position: relative;
  border-top: 1px solid var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
  &:after {
    position: absolute;
    content: "";
    display: block;
    inset: 0;
    background-color: #a6c1fe;
  }
}

.bgWrap {
  background-color: transparent;
}

.bg {
  border-radius: 4px;
  border: 1px solid var(--color-border);
}
