.fit-width {
  width: 100%;
}

.fit-height {
  height: 100%;
}

.mb0 {
  margin-bottom: 0;
}

.flex1 {
  flex: 1;
}

.tips {
  font-size: 12px;
  color: #646a73;
}

.primary-text {
  color: #3370ff;
  font-weight: 500 !important;
  height: 24px !important;
  padding: 0 6px !important;
  font-size: 13px;
  &:hover {
    color: #3370ff !important;
    background-color: #3370ff20 !important;
  }
}
