.fit-width {
  width: 100%;
}

.fit-height {
  height: 100%;
}

.mb0 {
  margin-bottom: 0 !important;
}

.flex1 {
  flex: 1;
}

.tips {
  font-size: 12px;
  line-height: 18px;
  color: #646a73;
}

.main-text {
  color: var(--color-text-primary);
}

.primary-text {
  color: #3478f5;
  font-weight: 500 !important;
  font-size: 13px;
  &:hover {
    color: #3478f5 !important;
    background-color: #3478f520 !important;
  }
  &:active {
    background-color: #3478f550 !important;
  }
}

.line {
  width: calc(100% + 32px);
  height: 1px;
  box-shadow: 0 0.5px 0 0 #dededf;
  margin: 12px 0 12px -16px;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: all 0.25s ease-in-out;
}
.fade-enter-done {
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: all 0.25s ease-in-out;
  background-color: #cecece;
}


.secondary {
  color: var(--color-text-secondary);
}

.fpt1 {
  position: relative;
  top: -1px;
}


.p0 {
  padding: 0 !important;
}

.m0 {
  margin: 0 !important;
}


@keyframes scale-icon {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
